@using Project.Resources

<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">@AppResources.Message</h5>
            </div>
            <div class="modal-body">
                <div id="previewContent" class="preview-content-container p-3 border rounded bg-white" style="min-height: 200px; max-height: 60vh; overflow-y: auto;">
                </div>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@AppResources.Close</button>
            </div>
        </div>
    </div>
</div>
